GEMINI_API_KEY=


VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=


SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=



CLICKPESA_CLIENT_ID=
CLICKPESA_API_KEY=
CLICKPESA_WEBHOOK_SECRET=
CLICKPESA_ENVIRONMENT=sandbox 

APP_URL=
VITE_APP_URL=


